


   /* Estilos básicos */
   html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Impede a barra de rolagem */
}

#map {
    height: calc(100vh - 100px); /* 40px é a altura do cabeçalho, ajuste conforme necessário */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #248232;
    color: #fff;
}

.user-icon, .menu-icon {
    cursor: pointer;
}

.user-icon img, .menu-icon img {
    width: 30px;
    height: 30px;
}

.logo {
    text-align: center;
    flex-grow: 1;
}

.logo img {
    width: 40px;
    height: 40px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
}

.menu-icon div {
    width: 100%;
    height: 3px;
    background-color: white;
}
.full-height {
    flex-grow: 1;
    background-color: #f0f0f0;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
}

.footer-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.footer-button img {
    width: 30px;
    height: 30px;
}

.floating-menu {
    position: absolute;
    bottom: 10px; /* Distância do menu flutuante ao fundo */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Coloca o menu flutuante acima do mapa */
    display: none; /* Inicialmente oculto */
}

.floating-menu button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 5px 0;
}

.floating-menu button img {
    width: 30px;
    height: 30px;
}

.footer-button.active + .floating-menu {
    display: block;
}